@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@400;700&display=swap");
@import 'variables';
@import 'mixins';
@import 'base';
@import 'loader';
@import 'header';
@import 'hero';
@import 'restaurant-list';
@import 'restaurant-detail';
@import 'like';
@import 'footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
}

#main-content {
  padding-bottom: 3.5rem;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: $primary-color;
  color: white;
  padding: 8px;
  z-index: 100;
  &:focus {
    top: 0;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  display: block;
}

article {
  padding: 1rem 0;
}
