$primary-color: #1e1e24;
$primary-text-color: black;
$primary-text-color-hover: rgb(155, 151, 151);
$logo-color: #08145c;

$min_sm_device: "576px";
$min_md_device: "768px";
$min_lg_device: "992px";
$min_xl_device: "1200px";
$min_xxl_device: "1400px";